<h2>Añade tu personaje</h2>
<hr>
<form (ngSubmit)="emmitCharacter( characters )">
    <input 
    [(ngModel)]="characters.name"
        name="name"
        type="text" 
        class="form-control" 
        placeholder="Escribe el nombre">
    <input 
    [(ngModel)]="characters.power"
        name="power" 
        type="number" 
        class="form-control" 
        placeholder="Dános el poder">
    <button 
        class="btn btn-outline-primary" 
        type="submit">
        Agregar
    </button>
</form>
